:root {
  font-family: system-ui;
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 20px;
  /* display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh; */
}
/* 
input {
  background-color: #ffffff;
  border: none;
  outline: none;
  color: black;
  border-radius: 24px;
  padding: 16px 20px;
} */
